@model CMSArticle.Views.ViewModels.CategoryViewModel

@{
    ViewBag.Title = $"ویرایش دسته بندی : {Model.Title} |";


}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal details-admins  ">
        <div>
            <h4>دسته بندی : @Model.Title</h4>
        </div>
      
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CategoryId)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">


                <img src="~/Image/Category/@Model.ImageName" width="80" id="newImagePreview" /> <br />
                <input type="file" id="imageUpload" name="imageUpload" onclick="imagePreview(this)" value="NoImage.png" />

                @Html.HiddenFor(model => model.ImageName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImageName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-row">
            <div class="col">
                @Html.ActionLink("بازگشت به لیست", "Index", null, new { @class = "btn btn-info" })
                <input type="submit" value="ثبت" class="btn btn-success" />
            </div>
        </div>


    </div>
}


<script src="~/Scripts/site.js"></script>