<div class="dashboard-admin-right">
    <div><img src="~/Image/Category/NoImages.png" /></div>
    <hr />
    <div>
        <ul>
            <li>
                @Html.ActionLink("دسته بندی ها", "Index", "Categories", null, new { @class = "btn-color-white" })
            </li>
            <li>
                @Html.ActionLink("مقالات", "Index", "Articles", null, new { @class = "btn-color-white" })
            </li>
            <li>
                @Html.ActionLink("مدیران", "Index", "Admins", null, new { @class = "btn-color-white" })
            </li>
            <li>
                @Html.ActionLink("کاربران", "Index", "Users", null, new { @class = "btn-color-white" })
            </li>
            <li>
                @Html.ActionLink("نقش های کاربری", "Index", "Roles", null, new { @class = "btn-color-white" })
            </li>
            <li>
                @Html.ActionLink("نقش های کاربری", "Index", "Roles", null, new { @class = "btn-color-white" })
            </li>
            <li>
                @Html.ActionLink("نقش های کاربری", "Index", "Roles", null, new { @class = "btn-color-white" })
            </li>
            <li>
                <a href="#" class="btn-color-white">
                    موجودی کالا
                </a>
            </li>
            <li>
                <a href="#" class="btn-color-white">تنظیمات</a>
            </li>B
            <li>
                <a href="#" class="btn-color-white">خروج</a>
            </li>
        </ul>
    </div>
</div>
